.molecule-list.group .dx-datagrid-headers tbody tr:first-child td:nth-child(3),
.molecule-list.no-group .dx-datagrid-headers tbody tr:first-child td:nth-child(2) {
    position: absolute;
    left: 8px;
    bottom: 0;
    display: flex;
    height: 100%;
}