.uploadPart {
    border: 0.75px solid #AFAFAF;
    background: var(--background);
}

.subText,
.templateButton,
.subMessage {
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.subText {
    color: var(--foreground);
}

.templateButton {
    color: var(--themeSecondayBlue);
}

.dottedBox,
.dottedBoxActive {
    position: relative;
    padding: 1rem;
    border-radius: 8px;
}

.dottedBox {
    border: 1.5px dashed var(--themeSecondaryGreyColor);
}

.dottedBoxActive {
    border: 1.5px dashed var(--themeBlueColor);
}

.subMessage {
    color: var(--greyMessage);
}

.fileName {
    padding: 6px;
    justify-content: center;
    align-items: center;
    color: var(--foreground);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px
}

.moleculeInput {
    border-radius: 4px;
    border: 1.5px solid var(--themeGreyBorder);
    width: 300px;
    height: 32px;
    display: flex;
    padding: 3px 10px 3px 12px;
    align-items: flex-start;
    gap: 10px;
}

.ketcherContainer {
    height: 50vh;
    width: auto;
}

.moleculeViewBox {
    border: 1px solid var(--themeGreyBorder);
    background: var(--background);
}

.moleculeViewBoxHighlighted {
    border: 7px solid var(--themeBlueColor);
    background: var(--background);
}