@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --black: #000;
  --white: #fff;

  --openSans: 'Open Sans', sans-serif;

  --themeGreyColor: #8B8B9C;
  --themeBlueColor: #0F69AF;
  --themeSecondayBlue: #085897;
  --themeYellowColor: #A5CD50;
  --themelightGreyColor: #ECECF4;
  --themeDarkGreyColor: #838393;
  --themeSilverGreyColor: #F8F8FC;
  --themeSecondaryGreyColor: #C7C7D1;
  --themeTertiaryBlueColor: #DDFCFF;
  --themeSuccessBgColor: #C6F4CD;
  --themeSuccessColor: #01884C;
  --themeErrorBgColor: #FFDADC;
  --themeErrorColor: #AC153B;
  --themeLightBlueColor: #ECF5FC;
  --themeGreyBorder: #E1E1EA;
  --themeBorderGrey: #D1D5DB;
  --themeErrorText: #AC153B;
  --themeLabelGrey: #777788;
  --themeGreyShadow: #DCDCE8;
  --themeGreyHeaderColor: #0F1A2E;
  --themeGreyBorderSecondaryColor: #e0e0e0;
  --rowHoverColor: #ebf8ff;
  --tableRoleGrey: #616170;
  --borderLightBlue: #50a0de;
  --buttonBgWhiteBlue: #ecf5fc;
  --themeDotGreenColor: #01884C;
  --themeDotGreyColor: #C7C7D1;
  --themeDotRedColor: #E61E50;
  --themeDotBlueColor: #2DBECD;
  --themeStatsBlueColor: #DDFCFF;
  --themeStatsGreenColor: #C6F4CD;
  --themeStatsRedColor: #FFDADC;
  --themeStatsYellowColor: #FFF3D9;
  --themeHeadingBlue: #0A3B61;
  --moduleCheckBoxBg: #ECF5FC;
  --assayBorder: #ccc;
  --tabBoxShadow: #0F1A2E26;
  --tableBackground: #fcfcfc;
  --grayHover: #E5E7EB;
  --grayMessage: #778;
  --blueLightBg: #D8EAF8;
  --messageDarkBlue: #281949;
  --disabledTextButtonBlue: #b9d2e6;
  --disabledBlueButton: rgba(15, 105, 175, 0.30);
  --lightGreen: #30A45A;
  --lightMerun: #EB3C96;
  --lightBlue: #08A3B0;
  --lightGrey: #A9A9BA;
  --textLightRed: #750C24;
  --textLightGreen: #054C20;
  --failedCategoryRed: #FFB3B8;
  --infoCategoryYellow: #FFDCB9;
  --doneCategoryGreen: #B4DC96;
  --greyText: #5E5E72;
  --admeYellow: #FFC832;
  --admeRed: #E61E50;
  --admeGreen: #01884C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* centralise loader */
.center {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Ensure it's above other content */
}

/* Content inside the overlay */
.overlay-content {
  color: white;
  font-size: 20px;
  padding: 20px;
  border-radius: 5px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main {
  display: inline-flex;
  align-items: center;
  gap: 17px;
  color: var(--themeHeadingBlue);
  text-align: center;
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}

.main-padding {
  padding: 0px 20px 20px 20px;
}

.padding-sub-heading {
  padding: 0px 20px 20px 0px;
}

.main-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 17px;
  color: var(--themeHeadingBlue);
  text-align: left;
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}

.imageContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.content-wrapper {
  padding: 20px;
  background: var(--themeSilverGreyColor);
}


/* toolbar buttons(primary) part of data grid */
.btn-primary.dx-button,
.btn-primary.dx-button.dx-state-hover,
.btn-primary.dx-button.dx-state-focused {
  border: 2px solid var(--themeBlueColor);
  background-color: var(--themeBlueColor);
  color: var(--white);

  .dx-button-text {
    color: var(--white);
  }

  .btn-primary.dx-button.dx-button-mode-contained.dx-state-disabled {
    border: 1px solid var(--themeSecondaryGreyColor);
    color: var(--black);
  }
}

.mol-ord-btn-disable.dx-button.dx-state-disabled.dx-button-mode-contained {
  background-color: rgba(15, 105, 175, 0.30) !important;
  border: 2px solid #b5d0e5;

  .dx-button-text {
    color: rgba(255, 255, 255, 0.70);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-transform: unset;
  }
}


/* toolbar buttons(secondary) part of data grid */
.btn-secondary.dx-button,
.btn-secondary.dx-button.dx-state-hover,
.btn-secondary.dx-button.dx-state-focused {
  border: 2px solid var(--themeBlueColor);
  color: var(--themeBlueColor);
  background-color: transparent;

  .dx-button-text {
    color: var(--themeBlueColor);
  }

  .btn-seconday.dx-button.dx-button-mode-contained.dx-state-disabled {
    border: 1px solid var(--themeSecondaryGreyColor);
    color: var(--black);
  }
}

.btn-secondary.dx-button .dx-button-text,
.btn-primary.dx-button .dx-button-text {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-transform: unset;
}

.toolbar-item-spacing {
  margin-right: 5px;
}

/* custom text normal text*/
.text-normal,
.dx-form .dx-field-item-label-text,
.project-title,
.project-target,
.project-type,
.description,
.text-assay-desc,
.accordion .dx-accordion-item {
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.moleculeStatus,
.moleculeOrderStatus {
  position: relative;
}

.moleculeStatus .status-mark,
.moleculeOrderStatus .status-mark {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-text,
.groupItem,
.no-assay {
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.no-assay {
  font-weight: 400;
  color: var(--black);
  height: 90px;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: end;
  padding: 20px 0;
}

/* profile info add molecule and forgot content */
.subHeading {
  color: var(--foreground);
  text-align: center;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 30.8px;
}

/* textbox styling */
.dx-texteditor-container {
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: var(--white);
  border: 1px solid var(--themeSecondaryGreyColor);
  color: var(--themeSecondaryGreyColor);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* no data found in accordion for project and library, accordion-header */
.nodata,
.nodata-project,
.accordion-header-text,
.pathway-header {
  color: var(--themeGreyColor);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
}

.pathway-header {
  color: var(--black);
}

.nodata,
.nodata-project,
.accordion-header-text {
  margin-top: 45px;
}

/* Hide password reveal icon in MS Edge browser */
::-ms-reveal {
  display: none;
}

.btn-disable.dx-button.dx-state-disabled.dx-button-mode-contained {
  background-color: var(--background) !important;
  border-radius: 4px;
  border: 2px solid var(--disabledBlueButton);

  .dx-button-text {
    color: var(--disabledTextButtonBlue);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-transform: unset;
  }
}

.disableButton {
  background-color: rgba(15, 105, 175, 0.30) !important;
  border-radius: 4px;
  border: 2px solid #b5d0e5;
  cursor: not-allowed;
  color: rgba(255, 255, 255, 0.70);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-transform: unset;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #6362624d;
  border-left: 2.5px solid white;
  border-right: 2.5px solid white;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 15px;
}

.dx-checkbox-checked .dx-checkbox-icon::before {
  background: var(--themeBlueColor);
}

/* Hide password reveal icon in MS Edge browser */
::-ms-reveal {
  display: none;
}

.dx-texteditor::after {
  position: relative;
}

.bg-red {
  background-color: var(--themeStatsRedColor);
}

.dot-red {
  background-color: var(--themeDotRedColor);
}

.text-red {
  color: var(--textLightRed);
}

.bg-green {
  background-color: var(--themeStatsGreenColor);
}

.dot-green {
  background-color: var(--themeDotGreenColor);
}

.text-green {
  color: var(--textLightGreen);
}

.bg-gray {
  background-color: var(--themeSilverGreyColor);
}

.text-grey {
  color: var(--themeGreyColor)
}

.dot-grey {
  background-color: var(--themeDotGreyColor);
}

.bg-blue {
  background-color: var(--themeStatsBlueColor);
}

.bg-light-blue {
  background-color: var(--themeLightBlueColor);
}

.text-blue {
  color: var(--themeBlueColor);
}

.dot-blue {
  background-color: var(--themeDotBlueColor);
}

.bg-yellow {
  background-color: var(--themeStatsYellowColor);
}

.dx-slider-bar {
  margin: 0 !important;
  height: 0 !important;
}

.dx-slider-handle {
  z-index: 10;
}

.dx-tabs-styling-mode-primary.dx-tab-indicator-position-bottom .dx-tab-selected::after {
  background-color: var(--tab-color, var(--themeBlueColor));
}

/* functional assay */

.main-div-assay,
.main-div-assay-other {
  background-color: var(--themeLightBlueColor);
  padding: 40px 34px;
}

.main-div-assay-other {
  padding: 10px;
  max-height: 490px;
  overflow-y: scroll;
}

.main-div-assay-lib {
  .dx-dropdownbox {
    width: 215px;
  }

  .dx-popup-content {
    padding: 10px;
  }

  .assay-dropdown {
    .dx-dropdownbox-popup {
      padding: 10px;
      /* Set the padding of the popover */
    }
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px 0;
}

.grid-item {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.assay-card {
  border: 1px solid var(--themeSecondaryGreyColor);
  background: var(--white);
  padding: 20px;
}

.text-assay-desc {
  font-weight: 400;
}

.list-assay {
  border-top: 1px solid var(--themeSecondaryGreyColor);
  padding: 10px 0;
  margin-left: -23px;
  margin-right: -24px;
  padding-left: 23px;
}

.list-assay:hover,
.list-assay:focus {
  background-color: var(--rowHoverColor);
}

.assay-list {
  max-height: 145px !important;
  overflow-y: auto;
}

.library-page {
  .list-assay {
    padding: 5px 10px;
    margin-left: -7px;
  }

  .dx-dropdowneditor-overlay .dx-popup-content {
    padding: 10px;
    max-height: 200px !important;
  }

  .assay-list {
    max-height: 110px !important;
  }
}

.functional-assay-title {
  color: var(--black);
  font-family: var(--openSans);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 85%;
  padding-bottom: 20px;
}

.add-assay {

  .dx-button-mode-text,
  .dx-button-mode-text.dx-state-hover {
    background-color: transparent;
  }
}

.lib-heading {
  display: inline-flex;
  align-items: center;
  gap: 17px;
  color: var(--themeBlueColor);
  text-align: center;
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
}

.project-type-highlight {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--themeYellowColor);
}

.project-type-text {
  color: var(--foreground);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* to avoid alignment change on toggle in dev extreme slider */
.dx-slider-handle .dx-tooltip-wrapper .dx-overlay-content {
  transform: translate(-6px, 29px) !important;
}

.dx-state-disabled .dx-slider-handle .dx-overlay-content {
  transform: translate(-17px, 29px) !important;
}