/*eslint max-len: ["error", { "code": 100 }]*/
/* projects */
/* user access */
.filter {
    height: 40px;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
}

.select-div-first {
    border-top: 1px solid var(--themeGreyBorderSecondaryColor);
}

/* no data found in accordion for project and library, accordion-header */
.nodata,
.nodata-project {
    justify-content: center;
}

.nodata-project {
    height: 70px;
    background: var(--white);
    align-items: center;
    width: 100%;
    margin-top: 0;
    overflow-y: hidden;
}

/* line clamp for description in project and library */
.clamp-data,
.clamp-data-2,
.clamp-data-3,
.clamp-data-12 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: none;
    line-height: 1.4em;
}

.clamp-data-2 {
    -webkit-line-clamp: 2;
}

.clamp-data-3 {
    -webkit-line-clamp: 3;
}

.clamp-data-5 {
    -webkit-line-clamp: 5;
}

.clamp-data-12 {
    -webkit-line-clamp: 12;
}

/* molecule status badge color*/
.success {
    color: var(--themeSuccessColor);
    background: var(--themeSuccessBgColor);
}

.info {
    color: var(--themeSecondayBlue);
    background: var(--themeTertiaryBlueColor);
}

.error {
    color: var(--themeErrorColor);
    background: var(--themeErrorBgColor);

    .textarea-field .dx-texteditor-input-container {
        height: 90px;
    }
}

/* molecule status badge*/
.box-item {
    flex: 0 1 calc(50% - 16px);
    box-sizing: border-box;
    padding: 10px;
}

.badge {
    font-weight: 400;
    padding: 4px 6px;
    gap: 10px;
    font-size: 10px;
    border-radius: 21px;
}

/* library list */
.libraries {
    background: var(--themeLightBlueColor);
    border-top: 1px solid var(--themeSecondaryGreyColor);
    margin: 0 -10px;
}

.library {
    background: var(--white);
    box-shadow: 0px 0px 1px 0px rgba(15, 26, 46, 0.15), 0px 1px 4px 0px rgba(15, 26, 46, 0.15);
    padding: 10px;
}

.library-name {
    border-bottom: 1px solid var(--themeGreyBorder);
    padding: 8px 0;

    span {
        font-weight: 400;
        margin-left: 8px;
    }
}

.no-border {
    border: none;
}

/* Project css */
.groupItem {
    color: var(--themeHeadingBlue);

    .dx-texteditor-container,
    .name-div {
        height: 48px;
    }

    .dx-datagrid .dx-row>td {
        line-height: 31.5px;
    }

    .dx-datagrid-headers .dx-datagrid-table .dx-row>td {
        line-height: 17px;
        padding: 20px 0 !important;
    }

    .dx-form-group-with-caption>.dx-form-group-content {
        padding-top: 0;
        border-top: 0;
        margin-top: 0;
        padding-bottom: 0;
        max-height: 230px;
        overflow-y: scroll;
    }

    .dx-toolbar .dx-toolbar-after {
        padding-inline-start: 0;
    }

    .dx-datagrid-headers .dx-datagrid-content {
        margin-bottom: 0px;
    }

    .dx-datagrid-headers {
        border: none;
    }

    .permission,
    .name-div {
        background-color: var(--white) !important;
        color: var(--themeGreyHeaderColor);
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        display: flex;
        align-items: center;
        text-align: left !important;
        padding-left: 10px;
    }

    .name-div {
        font-size: 14px;
        padding: 24px 10px;
        align-items: center;
        font-weight: 500;
    }

    .dx-dropdowneditor-icon::before {
        content: '';
        background-image: url(/icons/arrow-down.svg);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
        content: '';
        margin-top: 0 !important;
    }

    .dx-dropdowneditor.dx-dropdowneditor-active .dx-dropdowneditor-icon::before {
        background-image: url(/icons/arrow-up.svg);
        content: '' !important;
    }

    .dx-dropdowneditor.dx-dropdowneditor-active .dx-dropdowneditor-icon::before {
        background-image: url(/icons/arrow-up.svg);
        content: '' !important;
    }

    .dx-form-group-with-caption>.dx-form-group-content {
        display: flex;
    }

    .permission {
        height: 56.5px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding: 0 12px;
    }

    .select-div {
        border-bottom: 1px solid var(--themeGreyBorderSecondaryColor);
        border-radius: 0;

        .dx-texteditor-container {
            border: none !important;
            border-radius: 0px !important;
        }

    }
}

.group-empty .dx-form-group-with-caption>.dx-form-group-content {
    overflow-y: hidden;
}

.group-search {
    padding-bottom: 0 !important;
}

.group-search .dx-form-group-with-caption>.dx-form-group-content {
    overflow-y: hidden;
    margin-top: 10px;
}

.group-data {
    padding-top: 0 !important;
}

.group-search .dx-form-group-with-caption>.dx-form-group-content {
    padding: 16px;
    border-radius: 8px 8px 0px 0px;
    background: var(--white);
    box-shadow: 0px -1px 0px 0px var(--themeGreyShadow) inset;
}

.buttons-group {
    .dx-item {
        flex: auto;
    }

    .dx-item-content {
        display: inline;
    }

    .dx-field-item-content {
        width: 100%;
    }

    .dx-layout-manager .dx-field-item:not(.dx-last-col) {
        padding-inline-end: 0;
    }
}

/* custom search box in project and library screen */
.search-box {
    position: relative;
    display: inline-block;
}

.search-input,
.search-input-assay {
    display: flex;
    width: 194px;
    padding: 8px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 1px solid var(--themeSecondaryGreyColor);
    border-radius: 0;
    color: var(--black);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: transparent !important;
}

.search-input-assay {
    width: 260px;
}

.search-icon,
.search-icon-assay {
    position: absolute;
    left: 10px;
    transform: translateY(81%);
    pointer-events: none;
    width: 13px;
    height: 13px;
}

.search-icon-assay {
    left: 235px;
}

.popup-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.popup-grid {
    flex-grow: 1;
    overflow-y: hidden;
    margin-bottom: 20px;
}

.popup-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: auto;
    width: 100%;
    padding-bottom: 10px;
}

.order-popup {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        max-width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .image-column img {
        max-width: 100%;
        height: auto;
    }

    .text-column {
        flex: 1;
        padding-bottom: 80px;
    }

    .btn-primary {
        right: 275px;
        top: 20px;
    }

    .text-column p {
        font-size: 20px;
        color: #000;
        font-weight: 400;
    }

    .action-button {
        padding: 10px 20px;
        right: 232px;
        top: 10px;
    }
}

.order-popup-internal {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        max-width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .image-column img {
        max-width: 100%;
        height: auto;
    }

    .text-column {
        flex: 1;
        padding-bottom: 80px;
    }

    .btn-primary {
        right: 286px;
        top: 40px;
    }

    .text-column p {
        font-size: 20px;
        color: #000;
        font-weight: 400;
        width: 266px;
        margin-top: 30px;
    }

    .action-button {
        padding: 10px 20px;
        right: 232px;
        top: 10px;
    }

    .confirmButton {
        display: flex;
        padding-top: 20px;
        gap: 10px;

    }
}

.confirm-popup {
    p {
        font-size: 20px;
        color: #281949;
        font-weight: 700;

    }

    .confirmButton {
        display: flex;
        padding-top: 20px;
        gap: 10px;

    }


}

.dx-icon.dx-icon-export {
    transform: scale(1.5);
}

.dx-icon.dx-icon-column-chooser {
    transform: scale(1.7);
}

.lowercase-button .dx-button-text {
    text-transform: none !important;
    font-variant: normal;
}