.dx-item {  
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}  
.dx-tab-text-span {
    text-transform: capitalize;
}
.dx-tabs-wrapper {  
    height: 46px;
    background-color: var(--background);  
}
.dx-tabs-styling-mode-primary.dx-tab-indicator-position-bottom .dx-tab-selected::after{
    height: 10px;
} 
