.page {
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  
    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
  
    display: grid;
    grid-template-rows: 20px 1fr 20px;
    align-items: center;
    justify-items: center;
    min-height: 100svh;
    padding: 80px;
    gap: 64px;
    font-synthesis: none;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    grid-row-start: 2;
  }

  .GridWrapper{
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 270px 320px;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "Ketcher Panel Output";
    & > div {
      border: 1px solid grey;
    }
  }

  .KetcherBox{
    grid-area: Ketcher;
    height: 100vh;
  }

  .OutputBox{
    grid-area: Output;
  }

  .PanelBox{
    grid-area: Panel;
    overflow: auto;
    padding-right: 8px;
    padding-left: 8px;
  }
  .formClass{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  
    & label,
    button {
      font-size: 12px;
      text-transform: none;
    }
  }
  .fileNameBox{
    margin-top: 5px;
    min-height: 18px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
    text-align: left;
  }
  .colorInput{
    padding: 0;
    border: none;
    height: 25px;
    width: 25px;
    margin-left: 5px;
    margin-top: 10px;
    background: none;
  }
  .formControlCss{
    flex-direction: row;
    border-radius: 5px;
    padding: 0 5px 0 5px;
    margin-top: 10px;

    & label,
    button {
      font-size: 13px;
      text-transform: none;
    }
  }
  .HeaderBox{
    position: absolute;
    background-color: 'white';
    width: calc(100% - 5px);
    border-bottom: 1px dashed gray;
    color: "black";
  }
  .InnerBox{
    position: relative;
    height: calc(100% - 10px);
    width: 96%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
  }
  .LowerButton{
    position: absolute;
    bottom: 10px;
    right: 30px;
    background-color: "white";
    box-shadow: 0px 0px 10px 5px white;
    &:hover {
      background-color:white;
    }
  }
  .textArea{
    font-family: monospace;
    font-size: 14px;
    resize: none;
    display: block;
    margin-top: 30px;
    height: calc(100% - 30px);
    width: 100%;
    border: none;
    outline: none;
    background-color: "white";
    color:"black";
  }
  .flexboxCss{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
  }