.main {
    padding: 20px;
}

.box {
    height: 230px;
    background: var(--white);
    box-shadow: 0px 8px 12px 0px var(--tabBoxShadow), 0px 0px 4px 0px var(--tabBoxShadow);
    padding-left: 21px;
    padding-right: 30px;
    padding-top: 19px;
}

.type {
    color: var(--themeGreyColor);
}

.output {
    color: var(--black);
}

.grid {
    display: grid;
    grid-template-columns: 30% 70%;
}